.mat-column-ticket {
    text-align: center;
}

.mat-card {
    padding: 12px !important;
}

.my-pagination ::ng-deep .ngx-pagination .current {
    background: black;
  }

  .uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #000000;
}

@media only screen and (max-width: 640px) {
    .añadir .mat-raised-button {
        padding: 0 4px !important;
        font-size: 12px;
    }

    .añadir .mat-icon {
        height: 20px !important;
        width: 15px !important;

    }

    .añadir .material-icons {
        font-size: 17px !important;
    }

  }

  .mat-column-name {
    text-align: center;
  }